<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://www.redditinc.com/assets/images/site/reddit-logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Spring Reddit Clone
        </a>
            <form class="d-flex">
                <button class="btn btn-primary" type="submit" >SIGN UP</button>&emsp;
                <button class="btn btn-outline-primary" type="submit">LOGIN</button>
            </form>
    </div>
</nav>



<div class="card" style="width: 80%" th:each="post: ${post}">

        <div class="column g-3">
            <a th:href="@{'/delete/' + ${post.id}}" class="btn btn-danger" type="button">Delete</a>
            <a th:href="@{'/update/' + ${post.id}}" class="btn btn-warning" type="button">Update</a>
            <br>
        <i class="fas fa-arrow-up"></i>
        <p>0</p>
        <i class="fas fa-arrow-down"></i>
        </div>

        <div class="column g-3">
            <a href="#" th:text="${post.title}">Spring</a>
            <p>14 hours ago</p>
            <hr/>
            <p th:text="${post.id}"></p>
            <a><h2 th:text="${post.title}">A Spring boot</h2></a>
            <p th:text="${post.des}">A spring boot</p>

            <hr/>

            <p>Comment(0) <button class="btn btn-primary">Read Post</button></p>
        </div>

</div>




<div class="col-md-4" style="float: right">
    <div class="row" >
        <div class="card" style="text-align: center; width: 100%; margin-bottom: 20px;margin-top: 20px">
            <div class="card-body">
                <p
                class="card-text" >Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a th:href="@{posts/create}" class="btn btn-primary" style="width: 100%;margin-bottom: 10px">CREATE POST</a><br>
                <a th:href="@{subreddits/create}" class="btn btn-outline-primary" style="width: 100%;">CREATE SUBREDDIT</a>
            </div>
        </div>
    </div>


    <div class="card" style="width: 100%;">

        <div class="card-body">
            <h5 class="card-title">Browse Subreddit</h5>

        </div>
        <div class="list-group list-group-flush" th:each="sub:${sub}">
            <a href="#"> <p class="list-group-item"th:text="${sub.title}"></p></a><br>

        </div>
        <div class="card-body">
            <a href="#"> <p style="text-align: center">View all</p></a>
        </div>
    </div>
</div>

</body>
</html>